@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* use google font Mukta on the whole page */
body {
    font-family: 'Mukta', sans-serif;
}
/* have links without blue and underlined */
a {
    text-decoration: none;
    color: black;
}

/* container to divide page into each section */
.container {
    display: grid;
    height: 97vh;
    width: 99vw;
    grid-template: .8fr repeat(4,1fr) / .8fr repeat(4,1fr);
}
/* allocate sidebar grid area, change background, and make it a flex container*/
.sidebar {
    grid-area: 1 / 1 / 6 / 1;
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}
/* sidebar split into two sections for menu items*/
.sidebar .top, .bottom {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3vw;
}
/* Dashboard title is larger than the rest and is above them */
.dashboard {
    margin-left: 3vw;
    font-size: x-large;
}
/* allocate header grid area */
.header {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
}
/* styling search bar properly, has a distinct background color */
.header > input {
    grid-area: 1 / 1 / 2 / 3;
    width: 60%;
    height: 2rem;
    background: whitesmoke;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    margin: 1rem 0 0 2rem;
    border-radius: 10px;
}
/* get rid of background of github image */
a > img {
    grid-area: 1 / 3 / 2 / 4;
    mix-blend-mode: multiply;
    margin: .25rem 0 0 10rem;
    height: 6vh;
    width: 3.5vw;
}
/* container to hold Github image and name */
.hdcontainer {
   display: flex;
   gap: 1.5rem;
   font-weight: 800;
   align-items: center;
   font-size: large;
}
/* container to hold welcome message */
.lowercontainer {
    grid-area: 2 / 1 / 3 / 3;
    font-weight: 600;
    font-size: larger;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-bottom: .5rem;
}
/* have username in the theme color */
b {
    color: cornflowerblue;
}
/* make "hi there" have smaller font*/
.lowercontainer > p {
    font-size:x-small;
}
/* container to hold buttons below name in header */
.btncontainer {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    gap: 2rem;
    margin: .5rem .5rem .25rem 0;
}
/* buttons have theme color and are placed properly */
.btncontainer > button {
    font-size: .8rem;
    font-weight: 800;
    border: none;
    background-color: cornflowerblue;
    color: whitesmoke;
    height: 70%;
    width: 25%;
    border-radius: 50px;
}
/* buttons swap text and background color on hover*/
button:hover {
    background-color: whitesmoke;
    color: cornflowerblue;
}

/* allocate main content grid area and make it a grid container holding project info */
.maincontent {
    grid-area: 2 / 2 / 6 / 6;
    background-color: whitesmoke;
    display: grid;
    grid-template: repeat(3,33%) / repeat(2,37%) 26%;
    padding: 2vw;
    gap: 1vw;
}
/* each project has its own section */
.maincontent > * {
    background-color: white;
    border-radius: 10px;
    padding: 2vw;
    font-weight: 800;
    /* add left border with same color as sidebar */
    border-left-width: .7vh;
    border-left-style: solid;
    border-left-color: cornflowerblue;
}
/* section on right side of main content */
#smaller1 {
    grid-area: 1 / 3 / 2 / 4;
}
/* section on right side of main content */
#smaller2 {
    grid-area: 2 / 3 / 4 / 4
}
/* these sections do not get bigger when hovered on */
#smaller1 , #smaller2 {
    padding: .5vw 0 0 2.5vw;
    transform: scale(1);
}
/* make each project larger when hovering over it, and change border color*/
.maincontent > *:hover {
    transform: scale(1.02);
    border-left-color:darksalmon;
}
/* make project description smaller text */
.maincontent > * > p , #smaller1 > ol , #smaller2 > ul{
    font-weight: 200;
    font-size: 14px;
    color: gray;
}
/* add underline under section of sidebar that is being hovered */
.sidebar > * > *:hover {
    text-decoration: underline;
}